@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
}

body::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgb(2, 127, 230);
    border-radius: 10px;
    width: 12px;
    background-color: rgba(0, 81, 255, 0.301);
}

body::-webkit-scrollbar-track,::-webkit-scrollbar{

    -webkit-box-shadow: inset 0 0 6px rgb(122, 124, 126);
    width: 9px;
}
.app {
      position: relative;
  min-height: 100vh;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    color: cornflowerblue;
}

.header__logo{
    font-size: 2em;
    font-weight: bold;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__link {
    margin: 0 25px;
}

.header__link.active a{
    color: cornflowerblue;
}

.custom-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 11px;
    background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #709fd483;
}
